<div class="chat-header">
 <div class="chat-room-name">fogehuga
 </div>
  <div class="chat-exit">
  <a href="#仮置き">チャットを終了する</a>
 </div>
</div>

<div class="messages">

 <div class="message">
  <div class="up-users">
   <div class="up-name">Tom</div>
   <div class="up-day">2021/04/21/(木)/16:07</div>
  </div>
   <div class="message-text">おはよう</div>
 </div>

 <div class="message">
  <div class="up-users">
   <div class="up-name">Tom</div>
   <div class="up-day">2021/04/21/(木)/16:07</div>
  </div>
   <div class="message-text">おはよう</div>
 </div>
</div>


<div class="form">
 <div class="form-input">
   <input class="form-message" placeholder= "ここに書いてね">
   <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>

  <input class="form-submit" type="submit" value="送信">
</div>